.banner{
      background-color:aqua;
      width:120%;
      height:150px;
      margin-bottom:50px;
}

.banner-text{
       top:30%;
       left:50%;
       position:absolute;
       transform:transform;
       color:darkRed;
}